<h3>Créditos</h3>
Autor: Enrique de Guindos
<br><img src='<%= foto %>' heiht='65' width='65' /><br>
<p>
	<video width='120' height='95'  preload autoplay loop>
		<source src='/videos/bolido.mp4'  />
		<source src='/videos/bolido.ogg'  />
		<source src='/videos/bolido.webm' />
	</video>
</p>
<a href='https://www.caha.es/press-release/blog-2_es.html'>Más vídeos de meteoros</a>