<h3>Créditos</h3>
Autor: Enrique de Guindos
<br><img src='<%= foto %>' heiht='55' width='55' /><br>
<p>
	<video width='105' height='80'  preload autoplay loop>
		<source src='/videos/bolido.mp4'  />
		<source src='/videos/bolido.ogg'  />
		<source src='/videos/bolido.webm' />
	</video>
</p>
<a href='https://www.caha.es/press-release/blog-2_es.html'>Más vídeos de meteoros</a>
